html {
    font-family: "Open Sans", sans-serif;
    background-color: #A100004D;
}

body {
    width: 900px;
    margin: 0 auto 40px auto;
    background-color: #FCFCFC;
    border: 1px solid #FCFCFC;
}

#banner {
    margin: 0 auto;
    width: 900px;
    height: 400px;
    object-fit: cover;
}

img {
    object-fit: cover;
}

main {
    margin: 0 auto 40px auto;
    background-color: #FCFCFC;
    padding: 0 40px 0 40px;
}

h1 {
    color: #A10000;
    padding: 30px 0 0 0;
}

#infotext {
    background-color: #EBEBEB;
    padding: 15px;
}

.normal-font-weight {
    font-weight: normal;
}

ul,
ol {
    padding: 0 25px;
}

#img-container {
    display: flex;
    justify-content: space-between;
}

figure {
    margin: 0;
}